spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:forum
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        ddl-auto: update
        show_sql: true
        format_sql: true

#spring:
#  datasource:
#    driverClassName: org.postgresql.Driver
#    url: jdbc:postgresql://localhost:5432/banco_de_dados
#    username:
#    password:
#  jpa:
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
